@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');



*{
    box-sizing: border-box;
    font-family:sans-serif;
}

.flex{

    display:flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none !important;
}
.loader{
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    height:500px;
    box-shadow:inset 3px 7px 9px cadetblue,5px 8px 12px rgb(224, 19, 19);
    border-radius:50px;
}
.loader h1{
    animation: loader 1s ease-in;
    animation-fill-mode:both;
    animation-iteration-count: infinite;
    color:red;
    font-family: 'Orbitron', sans-serif;



}


@keyframes loader{
    0% {transform: scale(1);}
    30% {transform: scale(0.5);}
    70% {transform: scale(1.5);}
    100% {transform: scale(1);}

}


section h1{

    font-size:32px;

}
#question{

    margin-top:20px;
    margin-bottom: 30px;
    padding:13px;
    font-size:4.5vw;
}
#optionsbox{

    display:flex;
    flex-flow: row wrap;
    justify-content:space-around;
    max-width: 100vw;
    max-height: 100vh;

}

.wrong-result-box{

    animation:backchange 1s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes backchange{
    0% {background:cadetblue; transform: translate(1px, 1px) rotate(0deg); }
    5% { background:cadetblue;transform: translate(-1px, -2px) rotate(-1deg); }
    10% {background:rgb(173, 200, 201); transform: translate(-3px, 0px) rotate(1deg); }
    15% {background:rgb(173, 200, 201); transform: translate(3px, 2px) rotate(0deg); }
    20% {background:rgb(248, 121, 121); transform: translate(1px, -1px) rotate(1deg); }
    25% { background:rgb(248, 121, 121);transform: translate(-1px, 2px) rotate(-1deg); }
    30% {background:rgb(248, 121, 121); transform: translate(-3px, 1px) rotate(0deg); }
    35% {background:rgb(247, 70, 70); transform: translate(3px, 1px) rotate(-1deg); }
    40% { background:rgb(247, 70, 70);transform: translate(-1px, -1px) rotate(1deg); }
    45% {background:rgb(233, 35, 35); transform: translate(1px, 2px) rotate(0deg); }
    50% { background:red;transform: translate(1px, -2px) rotate(-1deg); }

    100%{background:green;}
}

.dropped{
    animation:dropeffect .5s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

}



@keyframes dropeffect{

    0%{
        transform: scale(1);
    }
    
    20%{
        transform: scale(0.9);
    }

    40%{
        transform: scale(0.7);
    }
    
    50%{
        transform: scale(0.5);
    }
    70%{
        transform: scale(1.0);
    }
    
    85%{
        transform: scale(0.8);
    }
    
    100%{
        transform: scale(1);
    }



}
#optionsbox .option{
    height:60px;
    margin:10px;
    line-height: 60px;
    text-align: center;
    width:60px;
    border:1px solid black;
    border-radius:18px;

    
}


#optionsbox .option:hover{

    box-shadow:1px 2px 12px rgba(12,33,12);
    transform:scale(0.77);
}


#result-section{

    margin-top:90px;

}



.resultbox{

    display:flex;
    flex-flow:row wrap;
    justify-content:center;
}

.resultbox .result{
    margin:10px;
    
    background:cadetblue;
    height:60px;
    
    width:60px;
    text-align:center;
    line-height: 60px;
    border-radius:20px;

} 

.resultbox .active-result{

    background-color: green;
}

#answer{


    margin-top:30px;
    padding:15px;
    background:green;
    float:right;
    display:none;
}